:root { 
--gray_400:#bec2c5; 
--blue_gray_100:#d7dadc; 
--gray_100_7f:#f2f5f67f; 
--blue_gray_600:#5a707b; 
--blue_gray_500:#6b8592; 
--blue_gray_600_01:#5a6a75; 
--black_900_0c:#0000000c; 
--gray_300:#dce2e5; 
--blue_gray_800_01:#3d484e; 
--gray_100:#f0f5f9; 
--blue_gray_800:#39474e; 
--light_blue_A700:#0084ff; 
--blue_gray_700:#4a5c65; 
--white_A700:#ffffff; 
--blue_gray_700_01:#49565f; 
}